<?xml version="1.0"?>
<launch>

    <arg name="use_gui" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find alaris_gripper_description)/urdf/alaris_gripper.urdf.xacro'" />

    <group if="$(arg use_gui)">
        <param name="use_gui" value="$(arg use_gui)" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>